{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="style.css" rel="stylesheet" >
{% endblock %}

{% block body %}
<!--Titre et image-->
<h1>Bienvenue sur le site du BDE CESI</h1>
<div class="center">
    <img class="img" src="img/lan.jpg">
</div>
{% endblock %}