{% extends 'base.html.twig' %}
{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="event.css" rel="stylesheet" >
{% endblock %}

{% block body %}
    {% if  event is defined %}
    <br><br>
    <div class="card bg-primary col-lg-4 col-sm-4 mb-4" > 
        <div class="card-header">{{event.date}}, {{event.place}}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{event.name}}</h4>
            <p class="card-text">{{event.description}}.</p>
        </div>
      
    </div><br>     
            
    {% endif %}

{% endblock %}