{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="style.css" rel="stylesheet" >
{% endblock %}

{% block body %}
<h1>Le panier</h1>

{% endblock %}