{% extends 'base.html.twig' %}

{% block title %}BDE CESI LILLE{% endblock %}
{% block stylesheets %}
<link href="style.css" rel="stylesheet" >
{% endblock %}

{% block body %}
<h1>Le panier</h1>
{{ app.request.cookies.get('Nom') }} <br>
{{ app.request.cookies.get('Prix') }} <br>
{{ app.request.cookies.get('Description') }}
{% endblock %}