.card{
    max-width: 20rem;
    color:white;
    margin:0 auto;
    color:white;
}

.card-header, .card-body{
    vertical-align: inherit;
    color:white;
    
}

.event{
    text-align:center;
}



