#formulaire{
    background-color:#434343;
    width:600px;
    max-width: 60%;
    color:white;
    border-radius: 1em 1em 1em;
    margin:0 auto;
    margin-top:3%;
}
h3, p {
    text-align:center; 
    padding-top:2%;
}
.form-group{
    margin:0 auto;
    width:600px;
    max-width: 80%;
   display:block;
    margin-top:2%;
    
}
.btn {
    display:block;
    margin:0 auto;
    margin-bottom:2%;
    margin-top:1%;
    background-color:#56ABE3;
}
label, #password{
    margin-left:10%; 
}