#formulaire{
    background-color:#434343;
    width:600px;
    max-width: 60%;
    color:white;
    border-radius: 1em 1em 1em;
    margin:0 auto;
    margin-top:3%;
}
h3 {
    text-align:center; 
    padding-top:2%;
}
.form-group{
    margin:0 auto;
    width:600px;
    max-width: 80%;
    display:block;
    margin-top:2%; 
}
.btn {
    display:block;
    margin:0 auto;
    margin-bottom:2%;
    margin-top:1%;
    background-color:#56ABE3;
}
label, #password, #ok{
    margin-left:10%; 
}
#pop-up, #inscrit{
   display:none;
    }
.text{
    text-align:justify;
    margin:0 6% 0 6%;   
}
h5{
    color:#56ABE3;
}
h4{
    color:darkblue;
}
#pop-up{
    border: 2px solid #666;
    width:700px;
    max-width: 80%;
    height:500px;
    margin:0 auto;
    margin-top:3%;
    overflow-y: scroll; 
    background-color:#F2F2F2;
}